**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/__pycache__
/data
/venv
/dev/data_preprocessing/data
/dev/data_preprocessing/work
/dev/data_preprocessing/.ipynb_checkpoints
/data_preprocessing/data
/data_preprocessing/work
/data_preprocessing/.ipynb_checkpoints
/.idea
/work
**/*__pycache__*
calls.txt
/rest-api/venv/
/rest-api/.idea
