// all the variables live here

// BREAKPOINTS

$default: 0;

$mobile: 320px;
$xsmall: 480px;
$small: 740px;

$palm: 600px;
$lap: 900px;
$desk: 1200px;
$desk-big: 1400px;
$large: 1650px;

// COLORS

$accent-primary: #55e6c1;
$accent-secondary: #58b19f;
$light-primary: #f3f5f7;
$light-secondary: #e8fffa;
$light-tertiary: #cad3c8;
$dark-primary: #2c3a47;
$success: #18df82;
$danger: #fc427b;
$danger-lighter: #fdc7d7;

// FONTS
$base-font-size: 16px;
